<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Logout</title>
</head>
<body>
  <h1>ログイン中...</h1>
  <form action="/logout" method="post">
    <button>logout</button>
  </form>
</body>
</html>